<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80902058409-qb9mpgrhre56mmkdbmd4evtdecpk34je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80902058409-qb9mpgrhre56mmkdbmd4evtdecpk34je</string>
	<key>API_KEY</key>
	<string>AIzaSyBPZIwxjAlg_LdiFoHEge6tJyiJM_MH1Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>80902058409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>csec.alphawarriors.discoverEthiopia</string>
	<key>PROJECT_ID</key>
	<string>discoverethiopia-38c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>discoverethiopia-38c5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80902058409:ios:b33c2b7c9c7f03b24194b8</string>
</dict>
</plist>